@charset "utf-8";
/*CSS Document*/
body{
	background-color: #7E8D85;
}
h1{
	color: #A0C3F8;
	text-transform: capitalize; 
}
h2{
	color: #A0C3F8;
	text-transform: capitalize;
}
a.purple{
	color: #BB17AF;
}
a.red{
	color: #DD1C1A;
}
p.movie{
	margin-left: 1em;
}
li, p, h2, h1{
	font-family: 'Raleway', sans-serif;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}