@charset "utf-8";
/*CSS Document*/
body{
	background-color: #F5E4D7;
}
nav.menu{
	text-align: right;
}
a.menu{
	color: 	#000000;
	text-decoration: none;
	text-transform: uppercase;		
}
a.logo{
	text-decoration: none;	
	color: #000000;
}
a.travel{
	text-align: inherit;
}
div.tamano{
	float: left;
	width: 70%
}
div.lado{
	float: right;
	width: 30%;
}